<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>

<h3>Register</h3>

<%- include ../partials/alert.ejs %>

<form action="/member/register" method="POST">
  <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" name="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" name="lastName">
      </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form> 

<%- include ../partials/footer.ejs %>